html{
  font-family: helvetica;
  font-size: 18px;
}

body,
header,
footer{
  font-family: helvetica;
  line-height: 1.4rem;
  font-size: 1rem;
}

header{
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.company-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-header__left-side,
.company-header__right-side li{
  display: inline-flex;
  align-items: center;
}

.company-header__left-side img{
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

.company-header,
  h2 {
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
}

.company-header__right-side li,
.company-header__right-side--mobile li{
  padding: 1rem 2rem 1rem 0;
}

.company-header__right-side--mobile{
  display:none;
}

.header-banner{
   display:flex;
   margin: 0 auto;
   justify-content: flex-end;
}

h1, h2{
   font-weight: bold;
}

h1{
   background-color: white;
   font-size: 2rem;
   line-height: 1.2rem;
   padding: 1.5rem 5rem;
   margin-top: 10rem;
   margin-right: -2rem;
}

 .icon-section{
  display:flex;
  justify-content: center;
}

.icon-section--spacing {
  width: 5rem;
  height: 8rem;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-section--portrait-width{
  width: 3.5rem;
}

.icon-section--landscape-width{
  width: 5rem;
}

.ruler-icon {
  margin-left: 6rem;
  margin-right: 6rem;
}

.main-section{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 35%;
}

h2{
  max-width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.main-section p{
  margin: 1rem 5% 5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  background-color: azure;
}

.footer img{
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width:768px){
  .main-section{
    width: 100%;
    justify-content: space-around;
  }

  header{
    padding-top: 0;
    height: 22rem;
  }

  nav{
    margin:0 auto;
  }

  h1{
    font-size: 1.33rem;
     padding: .75rem 4rem;
     margin-top: 5rem;
     margin-right: 2rem;
  }
}

@media only screen and (max-width:480px){
  .container{
    width: 100%;
  }

  .main-section{
    width: 100%;
  }

  .company-header__right-side--mobile{
    display:block;
    margin: auto 0;
    justify-content: flex-end;
  }

  .company-header__right-side {
    display: none;
  }

  .company-header__left-side span{
    display: none;
  }

  header{
    padding-top: 0;
    height: 12rem;
    background-position: 20%;
  }

  .header-banner{
    width: 100%;
    display: block;
  }

  h1{
   margin: 0;
   font-size: 1rem;
   padding: 1rem 0;
   margin-top: 9rem;
   text-align: center;
  }

  .icon-section{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 3.77rem 0;
 }

 .icon-section--spacing {
   width: 5rem;
   margin: 1.54rem 0 0 0;
   justify-content: center;
 }

 .icon-section--titles{
   font-size: .77rem;
   margin-top: 1.54rem;
 }

 .main-section{
   margin: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
 }

 h2{
   max-width: 100%;
   text-align: center;
 }

 .main-section p{
   font-size: 0.77rem;
   margin: 1rem 0 4rem 0;
 }

 .footer img{
   padding: 4rem 0;
 }

.footer span{
  display: none;
}

 .footer {
   justify-content: center;
 }

}
